{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row">
        <h1>Calculator</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
        {% if result is defined %}
            <div class="row">
                <h5>Result for </h5>
                <span class="text text-primary">{{ data. firstNumber }}</span>
                <span class="text text-danger">{{ data. operand }}</span>
                <span class="text text-primary">{{ data. secondNumber }}</span> is
                <span class="text text-success">{{ result }}</span>
            </div>
        {% endif %}


    </div>


{% endblock %}